<div class="card bg-base-100 w-full shadow-sm">
  <figure>
    <img
      src="/public/redwine.jpg"
      alt="Château Rouge 2018" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">Château Rouge 2018</h2>
    <p>En fyldig og elegant rødvin med noter af mørke bær, chokolade og et hint af krydderier. Perfekt til aftenens middag eller som gave til vinelskeren.</p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">Køb nu!</button>
    </div>
  </div>
</div>