<fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
  <legend class="fieldset-legend">Kontakt kundeservice</legend>

  <label class="label">Navn</label>
  <input type="text" class="input" placeholder="Navn" />

  <label class="label">Email</label>
  <input type="email" class="input" placeholder="Email" />

  <label class="label">Besked</label>
  <textarea class="textarea" placeholder="Skriv din besked her..."></textarea>

  <button class="btn btn-neutral mt-4">Send</button>
</fieldset>