<div
  class="hero min-h-screen"
  style="background-image: url(/vin.jpg);"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Vin med stil</h1>
      <p class="mb-5">
        Træd ind i rødvinens verden - fyldt med dybde, elegance og en snert af ekstravagance. Her hylder vi de mørke dråber, der gør hvert øjeblik lidt mere luksuriøst.
      </p>
      <button class="btn btn-primary">Bestil nu</button>
    </div>
  </div>
</div>